Project Development Phase/Sprint 3/flows.json
[{"id":"59948182fab550c5","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"d4c571a943293ad6","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"d6087efade5f484a","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"a3a94cc8905b48bc","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"b074aeeb379746d3","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"50c8bf27fe5dcb5a","type":"ui_tab","name":"watching","icon":"dashboard","disabled":false,"hidden":false},{"id":"8a81b62259608cd5","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#29a57c","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Monitory Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":7,"cy":6,"px":2,"py":2}}},{"id":"278c11696a4c6de7","type":"ui_group","name":"Environment","tab":"c2ecada9b3722d5d","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e6641cfa61bb45b5","type":"ui_group","name":"Group 2","tab":"50c8bf27fe5dcb5a","order":2,"disp":true,"width":6},{"id":"b3eb09e37d6c5f6d","type":"ui_group","name":"new1","tab":"50c8bf27fe5dcb5a","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"772fc7409bc406f2","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"d4013834def17873","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"dd70bb47688fea0a","type":"ui_spacer","z":"d4c571a943293ad6","name":"spacer","group":"ce69813374b3067a","order":3,"width":1,"height":1},{"id":"c2ecada9b3722d5d","type":"ui_tab","name":"Monitoring","icon":"dashboard","disabled":false,"hidden":false},{"id":"fddf7a4778200259","type":"ui_group","name":"Alert","tab":"c2ecada9b3722d5d","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f9c2044e442a3146","type":"ui_group","name":"Worker's condition","tab":"c2ecada9b3722d5d","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7a1987ab764444d7","type":"ui_spacer","z":"d4c571a943293ad6","name":"spacer","group":"fddf7a4778200259","order":1,"width":"6","height":"1"},{"id":"ec97582badcd3301","type":"ui_spacer","z":"d4c571a943293ad6","name":"spacer","group":"fddf7a4778200259","order":4,"width":"6","height":"1"},{"id":"5d04d0433a254cbd","type":"ui_spacer","z":"59948182fab550c5","name":"spacer","group":"fddf7a4778200259","order":6,"width":"6","height":"2"},{"id":"5eab40b71fe7b431","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c7d5c287584a0722","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"049eb7c33bdc92d4","type":"function","z":"59948182fab550c5","name":"Temperature node","func":"msg.payload=msg.payload.temperature\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":100,"wires":[["e084051ede56e01c"]]},{"id":"2528d1416eff89e5","type":"function","z":"59948182fab550c5","name":"Pulse Node","func":"msg.payload=msg.payload.heartrate\nglobal.set('h',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":160,"wires":[["5edb0a7bc1deec77"]]},{"id":"e663931554b3e86b","type":"ibmiot in","z":"59948182fab550c5","authentication":"apiKey","apiKey":"5eab40b71fe7b431","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"SprintID","applicationId":"","deviceType":"Sprint1","eventType":"+","commandType":"","format":"json","name":"IBM workers","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":40,"wires":[["d5f4e8cc8bbfdb87","049eb7c33bdc92d4","2528d1416eff89e5"]]},{"id":"d5f4e8cc8bbfdb87","type":"debug","z":"59948182fab550c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":40,"wires":[]},{"id":"e084051ede56e01c","type":"ui_gauge","z":"59948182fab550c5","name":"","group":"f9c2044e442a3146","order":1,"width":0,"height":0,"gtype":"wave","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":550,"y":100,"wires":[]},{"id":"5edb0a7bc1deec77","type":"ui_gauge","z":"59948182fab550c5","name":"","group":"f9c2044e442a3146","order":2,"width":0,"height":0,"gtype":"wave","title":"Pulse Rate","label":"Beats","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":550,"y":160,"wires":[]},{"id":"cb61792da617f984","type":"http in","z":"59948182fab550c5","name":"","url":"/workers","method":"get","upload":false,"swaggerDoc":"","x":190,"y":200,"wires":[["9a7dd26cd526dd37"]]},{"id":"8428b8d722967c64","type":"http response","z":"59948182fab550c5","name":"","statusCode":"","headers":{},"x":610,"y":200,"wires":[]},{"id":"9a7dd26cd526dd37","type":"function","z":"59948182fab550c5","name":"workers function","func":"msg.payload={\"temperature\":global.get(\"t\"),\"heartrate\":global.get(\"h\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":200,"wires":[["8428b8d722967c64"]]},{"id":"591f1f0e2cc5becf","type":"ibmiot in","z":"d4c571a943293ad6","authentication":"apiKey","apiKey":"772fc7409bc406f2","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Sensorid","applicationId":"","deviceType":"Sensor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":40,"wires":[["e936278d3169ebf3","e547f7c661c26e1b","7c2701591719d551"]]},{"id":"7c2701591719d551","type":"debug","z":"d4c571a943293ad6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":40,"wires":[]},{"id":"e936278d3169ebf3","type":"function","z":"d4c571a943293ad6","name":"Temperature","func":"msg.payload=msg.payload.Temperature\nglobal.set('r',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":80,"wires":[["c8a393010ffef643"]]},{"id":"e547f7c661c26e1b","type":"function","z":"d4c571a943293ad6","name":"Humidity","func":"msg.payload=msg.payload.Humidity\nglobal.set('i',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":120,"wires":[["d7d454adc8fa2f67"]]},{"id":"c8a393010ffef643","type":"ui_gauge","z":"d4c571a943293ad6","name":"","group":"278c11696a4c6de7","order":3,"width":0,"height":0,"gtype":"wave","title":"Teperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":550,"y":80,"wires":[]},{"id":"d7d454adc8fa2f67","type":"ui_gauge","z":"d4c571a943293ad6","name":"","group":"278c11696a4c6de7","order":4,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":480,"y":120,"wires":[]},{"id":"a1aed3bdd7435b40","type":"http in","z":"d4c571a943293ad6","name":"","url":"/wokwi","method":"get","upload":false,"swaggerDoc":"","x":230,"y":180,"wires":[["8b91503aeb1f0b23"]]},{"id":"3ef5e7afd9c2e28b","type":"http response","z":"d4c571a943293ad6","name":"","statusCode":"","headers":{},"x":690,"y":180,"wires":[]},{"id":"8b91503aeb1f0b23","type":"function","z":"d4c571a943293ad6","name":"environment-function","func":"msg.payload={\"Temperature\":global.get(\"r\"),\"Humidity\":global.get(\"i\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":180,"wires":[["3ef5e7afd9c2e28b"]]},{"id":"1bd04b87fb2c10dd","type":"ui_button","z":"d4c571a943293ad6","name":"","group":"fddf7a4778200259","order":2,"width":"6","height":"3","passthru":false,"label":"Alarm On","tooltip":"","color":"","bgcolor":"","className":"","icon":"wi-owm-01d","payload":"alarmon","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":240,"wires":[["d1e86dc85a0a74c6","049ac33c85974f9c","834e215896d12572","6db39c2fb3023163"]]},{"id":"f0666301e6d57359","type":"ui_button","z":"d4c571a943293ad6","name":"","group":"fddf7a4778200259","order":5,"width":"6","height":"3","passthru":false,"label":"Alarm Off","tooltip":"","color":"","bgcolor":"","className":"","icon":"wi-owm-01n","payload":"alarmoff","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":320,"wires":[["d1e86dc85a0a74c6","049ac33c85974f9c","a6d6a07e4dfe5a5e","32c9ab86b261ccb7"]]},{"id":"049ac33c85974f9c","type":"ibmiot out","z":"d4c571a943293ad6","authentication":"apiKey","apiKey":"772fc7409bc406f2","outputType":"cmd","deviceId":"Sensorid","deviceType":"Sensor","eventCommandType":"command","format":"String","data":"1","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":340,"wires":[]},{"id":"d1e86dc85a0a74c6","type":"debug","z":"d4c571a943293ad6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":240,"wires":[]},{"id":"2081b7f1268919ac","type":"function","z":"d4c571a943293ad6","name":"command function node","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":460,"wires":[["d1e86dc85a0a74c6","049ac33c85974f9c","1ca1d8b363f45677"]]},{"id":"6fc85efb499360a3","type":"http in","z":"d4c571a943293ad6","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":210,"y":400,"wires":[["2081b7f1268919ac"]]},{"id":"a6d6a07e4dfe5a5e","type":"ui_audio","z":"d4c571a943293ad6","name":"","group":"fddf7a4778200259","voice":"Microsoft Mark Mobile - English (United States)","always":true,"x":400,"y":360,"wires":[]},{"id":"834e215896d12572","type":"ui_audio","z":"d4c571a943293ad6","name":"","group":"fddf7a4778200259","voice":"Microsoft David Mobile - English (United States)","always":true,"x":420,"y":280,"wires":[]},{"id":"6db39c2fb3023163","type":"ui_toast","z":"d4c571a943293ad6","position":"top left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":650,"y":280,"wires":[]},{"id":"32c9ab86b261ccb7","type":"ui_toast","z":"d4c571a943293ad6","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":410,"y":400,"wires":[]},{"id":"1ca1d8b363f45677","type":"http response","z":"d4c571a943293ad6","name":"","statusCode":"","headers":{},"x":690,"y":440,"wires":[]}]